
body {
    background-color: darkblue;
}

p   {
    color: darkblue;
    background-color: gold;
}

ul  {
    background-color: gold;
    font-family: cursive;
}

h3  {
    font-family: cursive;
    color: gold;
}